extends ../_layout/pages.pug
block scripts
  script(src='/js/main.js')

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mb-4.mx-4
          .card-body.p-4
            h1 Register
            p.text-body-secondary Create your account
            p.text-body-secondary
              b Registration is currently limited. Need an invitation code
            p.text-body-secondary
              b Join the <a href="https://t.me/+NjIJIWJMnGg0YjM6" class="link-info" title="Telegram group QubicProxyPool" target="_blank">Telegram group</a> of pool
            form.needs-validation.form-reg(method="post" action="/register/")
              .input-group.mb-3
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-shield-alt")
                    |
                input.form-control(name="code" type='text',  placeholder='Invitation code', required)
                .invalid-feedback
                  | Invalid invitation code
              .input-group.mb-3
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-user")
                    |
                input.form-control(name="login" type='text', placeholder='Username [0-9A-Za-z, min 5]' pattern="^[0-9A-Za-z]+$" minlength="5" required)
                .invalid-feedback
                  | The minimum length is 5 and characters are allowed 0-9A-Za-z
              .input-group.mb-3
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-envelope-open")
                    |
                input.form-control(name="email" type='email', placeholder='Email' required)
                .invalid-feedback
                  | Enter the correct email format
              .input-group.mb-3
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-lock-locked")
                    |
                input.form-control(name="password" type='password', placeholder='Password [min 8]' minlength="8" required)
                .invalid-feedback
                  | The minimum length is 8
              .input-group.mb-4
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-lock-locked")
                    |
                input.form-control(name="password2" type='password', placeholder='Repeat password' required)
                .invalid-feedback
                  | Passwords must be the same
              .input-group.mb-4
                span.input-group-text
                  svg.icon
                    use(xlink:href="/vendors/@coreui/icons/free.svg#cil-wallet")
                    |
                input.form-control(name="wallet" type='wallet', placeholder='Qubic wallet [length 60, A-Z]' minlength="60" maxlength="60" pattern="^[A-Z]+$" required)
                .invalid-feedback
                  | Wallet length must be 60
              button.btn.btn-block.btn-success(type='submit') Create Account

