- var count = 1000
doctype html
include ../_partials/banner.pug
include ../_mixins/breadcrumb.pug

html(lang='en')
  head
    base(href=base)
    include ../_partials/head.pug
    block canonical
    block styles
  body
    .sidebar.sidebar-dark.sidebar-fixed.border-end#sidebar
      .sidebar-header.border-bottom
        .sidebar-brand
          img.sidebar-brand-full(src='/assets/logo.png', alt='Qubic Proxy Pool', style="height:45px")
            |
          img.sidebar-brand-narrow(width="32" height="32" src='/assets/logo_icon.png' alt='Qubic Proxy Pool')
        button.btn-close.d-lg-none(type='button' data-coreui-dismiss='offcanvas' data-coreui-theme="dark" aria-label='Close' onclick='coreui.Sidebar.getInstance(document.querySelector("#sidebar")).toggle()')
      ul.sidebar-nav(data-coreui="navigation" data-simplebar)
        li.nav-item
          a.nav-link(href='/login/')
            svg.nav-icon
              use(xlink:href="/vendors/@coreui/icons/free.svg#cil-user")
            |  Login
          a.nav-link(href='/register/')
            svg.nav-icon
              use(xlink:href="/vendors/@coreui/icons/free.svg#cil-room")
            |  Register
      .sidebar-footer.border-top.d-none.d-md-flex      
        button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")


    .wrapper.d-flex.flex-column.min-vh-100
      
      header.header.header-sticky.p-0.mb-4
        .container-fluid.border-bottom.px-4
          button.header-toggler(type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()" style="margin-inline-start: -14px;")
            svg.icon.icon-lg
              use(xlink:href="/vendors/@coreui/icons/free.svg#cil-menu")
              |

          //.sidebar-brand
            img.sidebar-brand-full.sidebar-brand-public-light(src='/assets/logo.png', alt='Qubic Proxy Pool', style="height:45px")
            img.sidebar-brand-full.sidebar-brand-public-dark(src='/assets/logo_dark.png', alt='Qubic Proxy Pool', style="height:45px")

          ul.header-nav.header-nav-center.d-none.d-lg-flex
            li.nav-item
              a.nav-link(href="/login/") Login
            li.nav-item
              a.nav-link(href="/register/") Register
                  |
          ul.header-nav
            li.nav-item.py-1
              .vr.h-100.mx-2.text-body.text-opacity-75
            li.nav-item.dropdown
              a.btn.btn-link.nav-link.py-2.px-2.d-flex.align-items-center(href="https://t.me/+NjIJIWJMnGg0YjM6" target="_blank" title="Telegram channel QubicProxyPool")
                svg.icon.icon-lg
                  use(xlink:href="/assets/icons/brands/brand.svg#cib-telegram-plane")
            li.nav-item.py-1
              .vr.h-100.mx-2.text-body.text-opacity-75
            //--li.nav-item.dropdown
              a.btn.btn-link.nav-link.py-2.px-2.d-flex.align-items-center(href="https://discord.com/channels/@QubicProxyPool" target="_blank" title="Discord channel QubicProxyPool")
                svg.icon.icon-lg
                  use(xlink:href="/vendors/@coreui/icons/brand.svg#cib-discord")
            //--li.nav-item.py-1
              .vr.h-100.mx-2.text-body.text-opacity-75

            li.nav-item.dropdown
              button.btn.btn-link.nav-link.py-2.px-2.d-flex.align-items-center(type="button" aria-expanded="false" data-coreui-toggle="dropdown")
                svg.icon.icon-lg.theme-icon-active
                  use(xlink:href="/vendors/@coreui/icons/free.svg#cil-contrast")
              ul.dropdown-menu.dropdown-menu-end(style='--cui-dropdown-min-width: 8rem;')
                li
                  button.dropdown-item.d-flex.align-items-center(type='button' data-coreui-theme-value='light')
                    svg.icon.icon-lg.me-3
                      use(xlink:href="/vendors/@coreui/icons/free.svg#cil-sun")
                    | Light
                li
                  button.dropdown-item.d-flex.align-items-center(type='button' data-coreui-theme-value='dark')
                    svg.icon.icon-lg.me-3
                      use(xlink:href="/vendors/@coreui/icons/free.svg#cil-moon")
                    | Dark
                li
                  button.dropdown-item.d-flex.align-items-center.active(type='button' data-coreui-theme-value='auto')
                    svg.icon.icon-lg.me-3
                      use(xlink:href="/vendors/@coreui/icons/free.svg#cil-contrast")
                    | Auto
            li.nav-item.py-1
              .vr.h-100.mx-2.text-body.text-opacity-75
        // /header      
      .body.flex-grow-1
        .container-lg.px-4
          block view
      include ../_partials/footer.pug
    include ../_partials/scripts.pug
