
h2  Pool rules
ul
  li
    b Only friends. Hashrate without taking into account the share during mining is not a reliable indicator and can only be taken into account by people you trust.
  li Active pool - qubic.li CPU/GPU Mining (Fixed Reward 85%)
  li The commission of Qubic.li  - 15%
  li Intermediary commission of QubicProxyPool - 1%
  li The calculation of the share of miners is carried out for the era of Qubic from Wednesday 13:00 UTC until the next Wednesday 12:00 UTC, that is 7 days 
  li The first hour of the new epoch is not taken into account due to the transition and connection of new miners
  li.fw-bolder The minimum total worker accounting time for an epoch is 2 days
  li Payouts are made after the epoch has ended (Wednesday 12 UTC), need time to calculate. Without any abnormal activitiy and a stable network, QubicProxyPool will get Qubic coins until Friday (23:59 UTC).  Then payments will be made to users
  li For Qubic cryptocurrency payments, be sure to specify your wallet (not exchange), registered on the official resource
    | 
    a(href="https://wallet.qubic.li" target="_blank") https://wallet.qubic.li
    | .
    | Otherwise, when transferring to an exchange wallet, there can be problems, and you will not receive your payment for a long time

p.d-inline-flex.gap-1
    a.btn.btn-primary(data-coreui-toggle="collapse" href="#collapseQubicliMining" role="button" aria-expanded="false" aria-controls="collapseExample")
      | Description of Fixed Mining from Qubic.li 
.collapse#collapseQubicliMining
  .card.card-body
    h4 Description
    p This Pool uses a single payment system.
    p At the end of each Epoch, the average score for that Epoch is determined and topped up by 6%. This total amount represents 100% of the revenue that can be earned, which is a maximum of 1,479,289,940 QUS. Of this amount, 15% is being used to pay the mining-fee as well as Pool/Computor Operation. 
    h4 Example
    ol
      li The average score for the current Epoch is 100 points. You earned 55 points.
      li The average score of 100 points is topped up by 6%, resulting in 106 points.
    p Your 55 points represent 51.89% of this amount.
    p The maximum revenue for one ID is 1,479,289,940 QUS. We deduct directly the extra miner fee for the GPU-miner and a Pool/Computor Operation fee. As a result a payment of 85% will be done at once.
    p 1,257,396,449 QUS per ID. You will receive 51.89% of 1,257,396,449 QUS, which is 652,463,017 QUS.
    p Payment will typically be completed within 24h after the epoch ends.
    h4 When Payout
    p In Qubic there is a weekly emission of Qubic. From this emission the pool users are paid. Normally this payout is one week after the epoch has ended. This pool send you the Qubic in advance. Directly after the epoch has ended.
    p After the Epoch has ended (Wednesday 12 UTC), we need time to calculate and cross check the delivered solutions. When this is done, you will see an entry in your payout history with status "pending". Without any abnormal activitiy and a stable network, you will get your Qubic until Friday (23:59 UTC).
    p Please be patient and wait for this period. If you haven't received it by saturday, contact one of our team. We may inform you in discord if there is a general delay in payouts. 
br

h2 Donate
p Qubic coin:
  | 
  span.text-info KNIJXAGWQREUSFCFOHGRBAZNAQZAILFQBPFRVWPOECGPFNATPBDOCWUCZKMN
br

//--  h2 Exchanges with Qubic coin
  .container.text-center.exchanges-icons
    .row
      .col-auto.d-flex.align-items-center
        a(href="https://safe.trade/" target="_blank")
          img(src="/assets/img/safetrade.png" alt="SafeTrade")
      .col-auto.d-flex.align-items-center
        a(href="https://tradeogre.com/" target="_blank") 
          img(src="/assets/img/tradeogre.svg" alt="TradeOgre")

h2 P3TI reward system
p The pool uses the P3TI (Payment per performance for time intervals) system to calculate rewards.
p The pool calculates the reward for the average perfomance (estimated at it/s) in a certain time interval, regardless of whether the pool found a solution or not. Time intervals are evenly distributed across the epoch. That is, a miner who had a stable perfomance (estimated at it/s) throughout the epoch will receive a greater reward than those who joined during the epoch or had fluctuating perfomance.


p.d-inline-flex.gap-1
  a.btn.btn-primary(data-coreui-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample")
    | Example calculation
.collapse#collapseExample
  .card.card-body
    p There are 20 hashrate entries for 5 users. Let's calculate the usual average share:
    .table-responsive
      table.table.table-striped.border.mb-0
        thead.fw-semibold.text-nowrap
          tr.align-middle
            th.bg-body-secondary User
            th.bg-body-secondary A (Its)
            th.bg-body-secondary B (Its)
            th.bg-body-secondary C (Its)
            th.bg-body-secondary D (Its)
            th.bg-body-secondary E (Its)
        tbody
          tr.align-middle
            td 1
            td 150
            td 260
            td 0
            td 50
            td 0
          tr.align-middle
            td 2
            td 150
            td 260
            td 0
            td 50
            td 0
          tr.align-middle
            td 3
            td 150
            td 260
            td 0
            td 50
            td 0
          tr.align-middle
            td 4
            td 150
            td 260
            td 0
            td 50
            td 0
          tr.align-middle
            td 5
            td 150
            td 260
            td 0
            td 100
            td 0
          tr.align-middle
            td 6
            td 150
            td 260
            td 0
            td 100
            td 0
          tr.align-middle
            td 7
            td 150
            td 260
            td 300
            td 100
            td 0
          tr.align-middle
            td 8
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 9
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 10 
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 11
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 12
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 13
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 14
            td 150
            td 260
            td 300
            td 200
            td 0
          tr.align-middle
            td 15
            td 150
            td 260
            td 0
            td 300
            td 0
          tr.align-middle
            td 16
            td 150
            td 260
            td 0
            td 300
            td 500
          tr.align-middle
            td 17
            td 150
            td 260
            td 300
            td 300
            td 500
          tr.align-middle
            td 18
            td 150
            td 260
            td 300
            td 300
            td 500
          tr.align-middle
            td 19
            td 150
            td 260
            td 300
            td 300
            td 500
          tr.align-middle
            td 20
            td 150
            td 260
            td 300
            td 300
            td 500
          tr.align-middle
            td.bg-body-secondary Avg. its
            td.bg-body-secondary 150
            td.bg-body-secondary 260
            td.bg-body-secondary 180
            td.bg-body-secondary 185
            td.bg-body-secondary 125
          tr.align-middle
            td.bg-body-secondary Share in %
            td.bg-body-secondary 16,67
            td.bg-body-secondary 28,89
            td.bg-body-secondary 20
            td.bg-body-secondary 20,56
            td.bg-body-secondary 13,89
    // /..table-responsive  
    p
      br
      | Calculation of share for each time interval (P3TI):
    .table-responsive
      table.table.table-striped.border.mb-0
        thead.fw-semibold.text-nowrap
          tr.align-middle
            th.bg-body-secondary User
            th.bg-body-secondary A (%)
            th.bg-body-secondary B (%)
            th.bg-body-secondary C (%)
            th.bg-body-secondary D (%)
            th.bg-body-secondary E (%)
        tbody
          tr.align-middle
            td 1
            td 36,59
            td 63,41
            td 0
            td 0
            td 0
          tr.align-middle
            td 2
            td 36,59
            td 63,41
            td 0
            td 0
            td 0
          tr.align-middle
            td 3
            td 36,59
            td 63,41
            td 0
            td 0
            td 0
          tr.align-middle
            td 4
            td 36,59
            td 63,41
            td 0
            td 0
            td 0
          tr.align-middle
            td 5
            td 29,41
            td 50,98
            td 0
            td 19,61
            td 0
          tr.align-middle
            td 6
            td 29,41
            td 50,98
            td 0
            td 19,61
            td 0
          tr.align-middle
            td 7
            td 18,52
            td 32,1
            td 37,04
            td 12,35
            td 0
          tr.align-middle
            td 8
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 9
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 10
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 11
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 12
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 13
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 14
            td 16,48
            td 28,57
            td 32,97
            td 21,98
            td 0
          tr.align-middle
            td 15
            td 21,13
            td 36,62
            td 0
            td 42,25
            td 0
          tr.align-middle
            td 16
            td 12,4
            td 21,49
            td 0
            td 24,79
            td 41,32
          tr.align-middle
            td 17
            td 9,93
            td 17,22
            td 19,87
            td 19,87
            td 33,11
          tr.align-middle
            td 18
            td 9,93
            td 17,22
            td 19,87
            td 19,87
            td 33,11
          tr.align-middle
            td 19
            td 9,93
            td 17,22
            td 19,87
            td 19,87
            td 33,11
          tr.align-middle
            td 20
            td 9,93
            td 17,22
            td 19,87
            td 19,87
            td 33,11
          tr.align-middle
            td.bg-body-secondary Avg. %
            td.bg-body-secondary 19,82
            td.bg-body-secondary 34,36
            td.bg-body-secondary 17,37
            td.bg-body-secondary 19,77
            td.bg-body-secondary 8,69