footer.footer.px-4
  div
    a(href='http://qubicproxypool.tech') http://QubicProxyPool.tech
  div.footer-copy
    |  &copy; 2024 Qubic Proxy Pool
  div
    | Powered by&nbsp;
    a(href='https://coreui.io/docs/' target="_blank") CoreUI UI Components
