p 
  | is a project aimed at cooperative mining in the Qubic crypto network through an intermediary account (in fact, it is not a full-fledged pool) on the server
  |
  a(href="https://app.qubic.li" target="_blank") https://app.qubic.li
  |. At the end of the epoch the received funds are divided depending on the contribution of each user through the P3TI (Payment per performance for time intervals) reward system. This service will be especially useful for miners with small capacities, who will be rewarded depending on their perfomance (estimated at it/s), not on the number of solutions found.