.sidebar.sidebar-dark.sidebar-fixed.border-end#sidebar
  .sidebar-header.border-bottom
    //.sidebar-brand(style="height:45px")
      //--svg.sidebar-brand-full(width="88" height="32" alt="CoreUI Logo")
        use(xlink:href="/assets/brand/coreui.svg#full")
        |
      //--svg.sidebar-brand-narrow(width="32" height="32" alt="CoreUI Logo")
        use(xlink:href="/assets/brand/coreui.svg#signet")

      //img.avatar-img(src='/assets/brand/logo.png', alt='Qubic Pool')

    .sidebar-brand
      img.sidebar-brand-full(src='/assets/logo.png', alt='Qubic Proxy Pool', style="height:45px")
        |
      img.sidebar-brand-narrow(width="32" height="32" src='/assets/logo_icon.png' alt='Qubic Proxy Pool')
    button.btn-close.d-lg-none(type='button' data-coreui-dismiss='offcanvas' data-coreui-theme="dark" aria-label='Close' onclick='coreui.Sidebar.getInstance(document.querySelector("#sidebar")).toggle()')
  //--ul.sidebar-nav(data-coreui="navigation" data-simplebar)
    li.nav-item
        a.nav-link(href='index.html')
          svg.nav-icon
            use(xlink:href="/vendors/@coreui/icons/free.svg#cil-speedometer")
          |  Dashboard

  ul.sidebar-nav(data-coreui="navigation" data-simplebar)
    li.nav-item
      a.nav-link(href='/panel/')
        svg.nav-icon
          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-speedometer")
        |  Dashboard
      a.nav-link(href='/panel/stats/')
        svg.nav-icon
          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-description")
        |  Statistics
        //--span.badge.badge-sm.bg-info.ms-auto NEW
    //li.nav-item
      a.nav-link(href='/panel/epochs/')
        svg.nav-icon
          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-chart-pie")
        |  Epochs
    li.nav-item
      a.nav-link(href='/panel/instruction/')
        svg.nav-icon
          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-notes")
        |  Instruction
        span.badge.badge-sm.bg-info.ms-auto
    li.nav-item
      a.nav-link(href='/panel/about/')
        svg.nav-icon
          use(xlink:href="/vendors/@coreui/icons/free.svg#cil-info")
        |  About
        span.badge.badge-sm.bg-info.ms-auto
  .sidebar-footer.border-top.d-none.d-md-flex      
    button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")
